body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffffff;
  }
  
  h1 {
    text-align: center;
  }
  
  .poster {
    margin: 20px auto;
    display: block;
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.5);
  }
  
  .screenshot {
    margin: 20px auto;
    display: block;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.5);
  }
  
  h2 {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #5b0eeb;
  }
  
  p {
    font-size: 16px;
    color: #666666;
  }
  
  ol {
    font-size: 16px;
    color: #666666;
    margin-left: 30px;
  }
  
  a {
    color: #3366cc;
  }
  
  iframe {
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.5);
  }
  